{% extends "base.html" %}


{% block content %}
<div class="book-list centerer">
    <p>Books by Category:
        {% for category in categories %}
        <a href="{% url 'list_books_category' pk=category.pk %}" class="category-link">{{category.name}}</a> |
        {% endfor %}
        <a href="{% url 'list_books' %}" class="category-link">All</a>
    </p>
    <p>List books by:
        <a href="{% url 'list_books_oldest' %}">oldest </a>|
        <a href="{% url 'list_books' %}">newest </a>|
        <a href="{% url 'list_books_title' %}">title</a>
    </p>
    <div class="book-pane">
        <div class=cover-area>
            <img class="book-cover-large" src="{{ book.image_url }}" alt="{{book.title}} cover art">
        </div>
        <div class="book-info">
            <p class="book-title">
                <a class="book-link" href="{{book.url}}">{{book.title}}</a> by {{ book.author }}
            </p>
            <p class="book-description">
                {{ book.description }}
            </p>
        </div>
        <div class="book-info-area">
            <p>
                <span class="favorited r-border line-pad">Favorited {{book.fave_count}} times</span>
                <span class="date l-border r-border line-pad">Added on {{book.date_added}}</span>
                <span class="category l-border line-pad">Category: 
                    <a class="category-link" href="{% url 'list_books_category' pk=book.category.pk %}">{{book.category.name}}</a>
                </span>
            </p>
            <p>
                <a href="#" class="favorite-link">Mark Book as Favorite</a>
            </p>
        </div>  
    </div>
    <div class="comments-section">
        <h3 class="comments-header">Comments:</h3>
        {% for comment in book.comments.all %}
        <p class="comment">{{comment.body}}</p>
        <p class="comment-info">by <a href="{% url 'show_user' pk=comment.author.pk %}">{{comment.author}}</a> on {{comment.date_added}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}