{% extends "base.html" %}


{% block content %}
<div class="book-list centerer">
    <p>Books by Category:
        {% for category in categories %}
        <a href="{% url 'list_books_category' slug=category.slug %}" class="category-link">{{category.name}}</a> |
        {% endfor%}
        <a href="{% url 'list_books' %}" class="category-link">All</a>
    </p>
    <p>List books by:
        <a href="{% url 'list_books_oldest' %}">oldest </a>|
        <a href="{% url 'list_books' %}">newest </a>|
        <a href="{% url 'list_books_title' %}">title</a>
    </p>
    <p class="header-p">Your Favorites</p>
    {% for book in books %}
    <div class="book-pane">
        <div class="book-area">
            
            <div class="book-pane-right">
                <img class="book-cover" src="{{book.image_url}}" alt="{{book.title}} cover image">
            </div>
            <div class="book-pane-left">
                <div class="book-info">
                    <p class="book-title">
                        <a class="book-link" href="{{book.url}}">{{book.title}}</a> by {{ book.author }}
                    </p>
                    <p class="book-description">
                        {{ book.description }}
                    </p>
                </div>
                <div class="book-info-area">
                    <p>
                        <span class="favorited r-border line-pad">Favorited {{book.favorited_by.count}} times</span>
                        <span class="date l-border r-border line-pad">Added on {{book.date_added}}</span>
                        <span class="category l-border r-border line-pad">Category: 
                            <a class="category-link" href="{% url 'list_books_category' slug=book.category.slug %}">{{book.category.name}}</a>
                        </span>
                        <span class="detail l-border l-marg line-pad">  
                            <a class="detail-link" href="{% url 'show_book' pk=book.pk %}">See Book Detail</a>
                        </span>
                    </p>
                </div>  
            </div>
        </div>    
    </div>
    {% endfor %}
</div>
{% endblock %}